/*typography*/
h1{
  font-family: 'Poppins', '600';
}

h2{
  font-family: 'Poppins', '500';
}


h3{
  font-family: 'Poppins', '400';
}

p{
  font-family: 'Poppins';
  line-height: 1.6;
}

/*navbar*/
.pnglogo{
  float: left;
}

.navbar {
  padding: 1% 12%;
}


.description{
  text-align: center;
  padding-top: 4rem;
  font-size: 1.4rem;
}


.container{
  justify-content: center;
  padding-top: 8rem;
  text-align: center;
}

.feature-title1{
  text-align: left;
}

.columntext1{
  text-align: left;
  margin-right: 9rem;
}

.feature-title2{
  text-align: right;
}

.columntext2{
  text-align: right;
  margin-left: 9rem;
}

.imgintro{
  border-radius: 20px;
}

.CTA{
  padding-top: 5rem;
  text-align: center;
}

.ctaimg{
width: 50%;
border-radius: 20px;
margin-top: 20px;
margin-bottom: 15px;
}

.btn {
 background-color: #e8ae56;
 border: none;
 color: white;
 padding: 15px 32px;
 text-align: center;
 text-decoration: none;
 display: inline-block;
 font-size: 16px;
 margin: 4px 2px;
 cursor: pointer;
 border-radius: 20px;
}

.btn:hover {
  background-color: #f2a024;
  text-decoration: none;
}


/* testimonials*/

.testimonials{
  background-color: #e8ae56;
  margin-top: 7rem;
  margin-bottom: 5rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
  text-align: center;

}

.testimimg{
 border-radius: 20px;
}

.testname{
  padding-top: 2rem;
}

.revimg{
  width:35%;
}

/*footer*/
.footer{
  display: flex;
justify-content: center;
justify-content: space-between;
margin-left: 330px;
margin-right: 330px;
padding-top: 5rem;
}

.footera{
  color: #e8ae56;
}

.pfooter{
  font-family: 'Poppins';
  font-weight: 300;
  margin-top: 50px;
  color: #fcdfb3;
  text-align: center;
}


/*pages*/

.imgtop{
  text-align: center;
  border-radius: 20px;
}



/*florence*/


.fctaimg{
  width: 35%;
  border-radius: 20px;
  margin-top: 2rem;
  margin-bottom: 15px;
}


/*tickets*/
.texttickets{
  padding: 3rem 0;
}


.cities{
  justify-content: center;

  padding-bottom: 4rem;
  padding-left: 2rem;
  padding-right: 2rem;
}



.testimonialstitle{
  padding-bottom: 2rem;
justify-content: center;
}

.cardcontainer{
  justify-content: center;
  padding: 2rem 5rem;
  background-color: #fcdfb3;
}

.card{
  justify-content: center;
}

.card-img-top{
  height: 50%;
}
